body {
    background-color: #EAFFD0;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #EAEAEA;
}
.navbar-default .navbar-brand:hover {
    font-weight: bolder;
    color: #FCE38A;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    background-color: #F38181;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    font-weight: bold;
    color: #FCE38A !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #95E1D3;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
}

.btn {
    margin-top: 20px;
}
